# Dependencies
node_modules/
.pnpm-store

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
src/config/tenants.secrets.json
.npmrc
backups/
/[MD+SZ]*.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary
tmp/
temp/

# Runtime data
data/

/src/generated/prisma
